@font-face {
  font-family: 'AnotherCastle3';
  src: url('fonts/AnotherCastle3.woff2') format('woff2'),
    url('fonts/AnotherCastle3.woff') format('woff');
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(46, 46, 46);
  align-items: center;
}

canvas {
  max-height: 100vh;
  /* background-color: rgb(46, 46, 46); */
}
